<%- layout_begin_body %>
<%= placeholder("placeholder-1") %>
<section id="main" class="sectionOne">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <%= placeholder("placeholder-2") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <%- layout_breadcrumb %> 
                <%- layout_header %> 
                <%= placeholder("placeholder-3") %>
            </div>
            <div class="col-md-4">
                  <%= placeholder("placeholder-4") %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <%= placeholder("placeholder-5") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%= placeholder("placeholder-6") %>
            </div>
            <div class="col-md-4">
                <%= placeholder("placeholder-7") %>
            </div>
            <div class="col-md-4">
               <%= placeholder("placeholder-8") %>
            </div>
        </div>
    </div>
    </div>
</section>
<%= placeholder("placeholder-9") %>
<section class="sectionTwo" id="sectionTwo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               <%= placeholder("placeholder-10") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%= placeholder("placeholder-11") %>
            </div>
            <div class="col-md-4">
               <%= placeholder("placeholder-12") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%= placeholder("placeholder-13") %>
            </div>
            <div class="col-md-4">
               <%= placeholder("placeholder-14") %>
            </div>
            <div class="col-md-4">
              <%= placeholder("placeholder-15") %>
            </div>
        </div>
    </div>
</section>
<%= placeholder("placeholder-16") %>
<section class="sectionThree" id="sectionThree">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <%= placeholder("placeholder-17") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%= placeholder("placeholder-18") %>
            </div>
            <div class="col-md-4">
           <%= placeholder("placeholder-19") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%= placeholder("placeholder-20") %>
            </div>
            <div class="col-md-4">
               <%= placeholder("placeholder-21") %>
            </div>
            <div class="col-md-4">
               <%= placeholder("placeholder-22") %>
            </div>
        </div>
    </div>
</section>
<%= placeholder("placeholder-23") %>
<section class="sectionFour" id="sectionFour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               <%= placeholder("placeholder-24") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%= placeholder("placeholder-25") %>

            </div>
            <div class="col-md-4">
               <%= placeholder("placeholder-26") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%= placeholder("placeholder-27") %>
            </div>
            <div class="col-md-4">
                <%= placeholder("placeholder-28") %>
            </div>
            <div class="col-md-4">
               <%= placeholder("placeholder-29") %>
            </div>
        </div>
    </div>
</section>
<%= placeholder("placeholder-30") %>
<section class="sectionFive" id="sectionFive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <%= placeholder("placeholder-31") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
              <%= placeholder("placeholder-32") %>
            </div>
            <div class="col-md-4">
              <%= placeholder("placeholder-33") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
             <%= placeholder("placeholder-34") %>
            </div>
            <div class="col-md-4">
              <%= placeholder("placeholder-35") %>
            </div>
            <div class="col-md-4">
            <%= placeholder("placeholder-36") %>
            </div>
        </div>
    </div>
</section>
<%- layout_end_body %>