<%- layout_begin_body %>
<%- placeholder("sectionOneTop") %>
<section id="main" class="sectionOne">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <%- placeholder("sectionOneFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="breadcrumb">
                    <%- layout_breadcrumb %> 
                </div>
                <h1><%- layout_header %></h1> 
                <%- placeholder("sectionOneContent") %>
                <%- layout_pageContent %> 
            </div>
            <div class="col-md-4">
                  <%- placeholder("sectionOneRightHandColumn") %>
                  <div id="keywordFilter" data-module="keyword-filter" class="sectionSubsite news" data-module-started="false">
                        <h3>View News By Keyword</h3>
                    
                                <input type="text" class="js-keyword">
                                <a href="#" class="button js-keyword-submit">Go</a>
                          
                 </div>
                 <div id="dateRangeFilter" class="sectionSubsite news" data-module="date-range-filter" data-module-started="false">
                    <h3>View News By Date</h3>
                            <div class="datePickerContainer">
                                <label for="Start-date">Start date</label>    
                                <input name="Start-date" type="text" class="datepicker js-date-range-start hasDatepicker">
                                </div>
                                  <div class="datePickerContainer">
                                <label for="End-date">End date</label>    
                                <input name="End-date" type="text" class="datepicker js-date-range-end hasDatepicker">
                                <a href="#" class="button js-date-range-submit">Go</a>
                            </div>
                 </div>
                 <div>
                <div data-module="news-archive-filter" class="sectionSubsite news" data-module-started="false">
                    <h3>News Archive</h3>
                    <div id="archive">
                </div>
                </div>

                <script id="archive-template" type="text/x-handlebars-template">
                 <ul class="accordion" data-module="accordion">
                    {{#each Years}}
                    <li>
                    <div class="accordion-drawer">
                   <a class="header" href="#"><span id="tooltip" class="sr-only">Click to expand</span>{{year}}</a>
                    {{#months}}
                        <div class="content-block"><a class="js-news-archive-filter-submit" data-year='{{../year}}' data-month='{{month}}' href="#">{{monthAsString}}</a></div>
                    {{/months}}
                    </div>
                    </li>
                    {{/each}}
                    </ul>
                </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <%- placeholder("sectionOneFullBottom") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%- placeholder("sectionOneThirdCol1") %>
            </div>
            <div class="col-md-4">
                <%- placeholder("sectionOneThirdCol2") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionOneThirdCol3") %>
            </div>
        </div>
    </div>
    </div>
</section>
<section>      
    <%- layout_editPanel %>
</section>
<%- layout_end_body %>