<%- layout_begin_body %>
<%- placeholder("sectionOneTop") %>
<section id="main" class="sectionOne" role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <%- placeholder("sectionOneFull") %>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-12">
             <div class="breadcrumb">
                    <%- layout_breadcrumb %> 
             </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-8">
                <%- layout_pageContent %> 
                <%- placeholder("sectionOneContent") %>
                <div class="row">
                    <div class="col-sm-6">
                        <%- placeholder("sectionOneContentHalf1") %>
                    </div>
                    <div class="col-sm-6">
                        <%- placeholder("sectionOneContentHalf2") %>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-6">
                        <%- placeholder("sectionOneContentHalf3") %>
                    </div>
                    <div class="col-sm-6">
                        <%- placeholder("sectionOneContentHalf4") %>
                    </div>
                </div>
            </div>
            <aside role="complementary" class="col-md-4">
                  <%- placeholder("sectionOneRightHandColumn") %>
            </aside>
        </div>
        <div class="row">
                    <div class="col-md-4">
                        <%- placeholder("sectionLeftHandColumn") %>
                    </div>
                    <div class="col-md-8">
                        <%- placeholder("sectionOneRightContent") %>
                    </div>
           </div>
         <div class="row">
            <div class="col-md-6">
                <%- placeholder("sectionOneHalf") %>
            </div>
               <div class="col-md-6">
                <%- placeholder("sectionOneHalfRight") %>
            </div>
        </div>
           <div class="row">
            <div class="col-lg-12">
                <%- placeholder("sectionOneFullBottom") %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 column-third">
               <%- placeholder("sectionOneThirdCol1") %>
            </div>
            <div class="col-sm-4 column-third">
                <%- placeholder("sectionOneThirdCol2") %>
            </div>
            <div class="col-sm-4 column-third">
               <%- placeholder("sectionOneThirdCol3") %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 column-third">
               <%- placeholder("sectionOneThirdCol4") %>
            </div>
            <div class="col-sm-4 column-third">
                <%- placeholder("sectionOneThirdCol5") %>
            </div>
            <div class="col-sm-4 column-third">
               <%- placeholder("sectionOneThirdCol6") %>
            </div>
        </div>
    </div>
    </div>
</section>
<%- placeholder("sectionTwoTop") %>
<section class="sectionTwo" id="sectionTwo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               <%- placeholder("sectionTwoFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%- placeholder("sectionTwoContent") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionTwoRightHandColumn") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%- placeholder("sectionTwoThirdCol1") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionTwoThirdCol2") %>
            </div>
            <div class="col-md-4">
              <%- placeholder("sectionTwoThirdCol3") %>
            </div>
        </div>
    </div>
</section>
<%- placeholder("sectionThreeTop") %>
<section class="sectionThree" id="sectionThree">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <%- placeholder("sectionThreeFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%- placeholder("sectionThreeContent") %>
            </div>
            <div class="col-md-4">
           <%- placeholder("sectionThreeRightHandColumn") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%- placeholder("sectionThreeThirdCol1") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionThreeThirdCol2") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionThreeThirdCol3") %>
            </div>
        </div>
    </div>
</section>
<%- placeholder("sectionFourTop") %>
<section class="sectionFour" id="sectionFour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               <%- placeholder("sectionFourFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%- placeholder("sectionFourContent") %>

            </div>
            <div class="col-md-4">
               <%- placeholder("sectionFourRightHandColumn") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%- placeholder("sectionFourThirdCol1") %>
            </div>
            <div class="col-md-4">
                <%- placeholder("sectionFourThirdCol2") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionFourThirdCol3") %>
            </div>
        </div>
    </div>
</section>
<%- placeholder("sectionFiveTop") %>
<section class="sectionFive" id="sectionFive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <%- placeholder("sectionFiveFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
              <%- placeholder("sectionFiveContent") %>
            </div>
            <div class="col-md-4">
              <%- placeholder("sectionFiveRightHandColumn") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
             <%- placeholder("sectionFiveThirdCol1") %>
            </div>
            <div class="col-md-4">
              <%- placeholder("sectionFiveThirdCol2") %>
            </div>
            <div class="col-md-4">
            <%- placeholder("sectionFiveThirdCol3") %>
            </div>
        </div>
    </div>
</section>
<section>      
    <%- layout_editPanel %>
</section>
<%- layout_end_body %>