<%- layout_begin_body %>
<%- placeholder("sectionOneTop") %>
<section id="main" class="sectionOne" role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <%- placeholder("sectionOneFull") %>
            </div>
        </div>
        <div class="row">
         <div class="col-lg-12">
             <div class="breadcrumb">
                    <%- layout_breadcrumb %> 
             </div>
            </div>
            <div class="col-md-8">
                <h1><%- layout_header %></h1> 
                <%- placeholder("sectionOneContent") %>
                <%- layout_pageContent %> 
            </div>
            <aside role="complementary" class="col-md-4">
                  <%- placeholder("sectionOneRightHandColumn") %>
                  <div id="keywordFilter" data-module="keyword-filter" class="sectionSubsite news" data-module-started="false">
                        <h3>View News By Keyword</h3>
                    
                                <input type="text" class="js-keyword">
                                <a href="#" class="button js-keyword-submit">Go</a>
                          
                 </div>
                 <div id="dateRangeFilter" class="sectionSubsite news" data-module="date-range-filter" data-module-started="false">
                    <h3>View News By Date</h3>
                            <div class="datePickerContainer">   
                                <input name="Start-date" type="text" class="searchDate js-date-range-start" data-type="datepicker-start-nomin" placeholder="Start Date">
                                </div>
                                  <div class="datePickerContainer">
                                <input name="End-date" type="text" class="searchDate js-date-range-end" data-type="datepicker-end-nomin" placeholder="End Date">
                                <a href="#" class="button js-date-range-submit">Go</a>
                            </div>
                       <div class="clearfix"></div>     
                 </div>
                 <div id="latestNews">
                        <LatestNews:ContentBySearchWebPart 
                            runat="server" 
                            AlwaysRenderOnServer="False" 
                            ResultType="" 
                            DataProviderJSON="{
                                            'QueryGroupName':'Default',
                                            'QueryPropertiesTemplateUrl':'sitesearch://webroot',
                                            'IgnoreQueryPropertiesTemplateUrl':false,'SourceID':'8413cd39-2156-4e00-b54d-11efd9abdb89',
                                            'SourceName':'Local SharePoint Results',
                                            'SourceLevel':'Ssa',
                                            'CollapseSpecification':'',
                                            'QueryTemplate':'path:{Site.URL} owstaxIdPageCategory:News Item',
                                            'FallbackSort':[{'d':1,'p':'RefinableDate00'}],
                                            'FallbackSortJson':'[{\&quot;p\&quot;:\&quot;RefinableDate00\&quot;,\&quot;d\&quot;:1}]',
                                            'RankRules':[],
                                            'RankRulesJson':'[]',
                                            'AsynchronousResultRetrieval':false,
                                            'SendContentBeforeQuery':true,
                                            'BatchClientQuery':true,
                                            'FallbackLanguage':-1,
                                            'FallbackRankingModelID':'',
                                            'EnableStemming':true,
                                            'EnablePhonetic':false,
                                            'EnableNicknames':false,
                                            'EnableInterleaving':false,
                                            'EnableQueryRules':true,
                                            'EnableOrderingHitHighlightedProperty':false,
                                            'HitHighlightedMultivaluePropertyLimit':-1,
                                            'IgnoreContextualScope':true,
                                            'ScopeResultsToCurrentSite':false,
                                            'TrimDuplicates':false,
                                            'Properties':{&quot;TryCache&quot;:true,
                                            'Scope':'{Site.URL}',
                                            'UpdateLinksForCatalogItems':true,
                                            'EnableStacking':true,
                                            'ListId':'00000000-0000-0000-0000-000000000000'},
                                            'PropertiesJson':'{
                                                            \'TryCache\':true,
                                                            \'Scope\':\'{Site.URL}\',
                                                            \'UpdateLinksForCatalogItems\':true,
                                                            \'EnableStacking\':true,
                                                            \'ListId\':\'00000000-0000-0000-0000-000000000000\'}',
                                            'ClientType':'ContentSearchRegular',
                                            'UpdateAjaxNavigate':true,
                                            'SummaryLength':180,
                                            'DesiredSnippetLength':90,
                                            'PersonalizedQuery':false,
                                            'FallbackRefinementFilters':null,
                                            'IgnoreStaleServerQuery':false,
                                            'RenderTemplateId':'DefaultDataProvider',
                                            'AlternateErrorMessage':null,
                                            'Title':''}" 
                            BypassResultTypes="True" 
                            ResultsPerPage="3" 
                            SelectedPropertiesJson="null" 
                            HitHighlightedPropertiesJson="[&quot;Title&quot;,&quot;Path&quot;,&quot;Author&quot;,&quot;SectionNames&quot;,&quot;SiteDescription&quot;]" 
                            AvailableSortsJson="null" 
                            PreloadedItemTemplateIdsJson="null" 
                            ShowAlertMe="False" 
                            QueryGroupName="Default" 
                            StatesJson="{}" 
                            ServerIncludeScriptsJson="null" 
                            Title="&lt;%$Resources:Microsoft.Office.Server.Search,CBS_Title;%&gt;" 
                            FrameType="None" 
                            SuppressWebPartChrome="False" 
                            Description="&lt;%$Resources:Microsoft.Office.Server.Search,CBS_Description;%&gt;" 
                            IsIncluded="True" 
                            ZoneID="" 
                            PartOrder="0" 
                            FrameState="Normal" 
                            AllowRemove="True" 
                            AllowZoneChange="True" 
                            AllowMinimize="True" 
                            AllowConnect="True" 
                            AllowEdit="True" 
                            AllowHide="True" 
                            IsVisible="True" 
                            DetailLink=""
                            GroupTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Group_Content.js"
                            RenderTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Control_TopStories.js"
                            ItemTemplateId="~sitecollection/_catalogs/masterpage/Display Templates/Content Web Parts/Item_TopStories.js" 
                            HelpLink="" 
                            HelpMode="Modeless" 
                            Dir="Default" 
                            PartImageSmall="" 
                            MissingAssembly="&lt;%$Resources:core,ImportErrorMessage;%&gt;" 
                            ImportErrorMessage="&lt;%$Resources:core,ImportErrorMessage;%&gt;" 
                            PartImageLarge="" 
                            IsIncludedFilter="" 
                            ExportControlledProperties="True" 
                            ConnectionID="00000000-0000-0000-0000-000000000000" 
                            ID="g_85c300b8_77cb_49d8_a4bb_eb33aa961bd7" 
                            ChromeType="None" 
                            ExportMode="All" 
                            __MarkupType="vsattributemarkup" 
                            __WebPartId="{85c300b8-77cb-49d8-a4bb-eb33aa961bd7}" 
                            WebPart="true" 
                            Height="" 
                            Width=""/>	
                    </div>
                 <div>
                <div data-module="news-archive-filter" class="sectionSubsite news" data-module-started="false">
                    <h3>News Archive</h3>
                    <div id="archive">
                </div>
                </div>

                <script id="archive-template" type="text/x-handlebars-template">
                 <ul class="accordion" data-module="accordion" id="newsAccordion">
                    {{#each Years}}
                    <li>
                    <div class="accordion-drawer">
                        <a class="header" href="#"><span id="tooltip" class="sr-only">Click to expand</span>{{year}}</a>
                        <div class="content-block">
                            {{#months}}
                            <a class="js-news-archive-filter-submit" data-year='{{../year}}' data-month='{{month}}' href="#">{{monthAsString}}</a>
                            {{/months}}
                        </div>
                    </div>
                    </li>
                    {{/each}}
                    </ul>
                </script>
                </div>
            </aside>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <%- placeholder("sectionOneFullBottom") %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 column-third">
               <%- placeholder("sectionOneThirdCol1") %>
            </div>
            <div class="col-sm-6 col-md-4 column-third">
                <%- placeholder("sectionOneThirdCol2") %>
            </div>
            <div class="col-sm-6 col-md-4 column-third">
               <%- placeholder("sectionOneThirdCol3") %>
            </div>
            <div class="col-sm-6 col-md-4 column-third">
               <%- placeholder("sectionOneThirdCol4") %>
            </div>
            <div class="col-sm-6 col-md-4 column-third">
                <%- placeholder("sectionOneThirdCol5") %>
            </div>
            <div class="col-sm-6 col-md-4 column-third">
               <%- placeholder("sectionOneThirdCol6") %>
            </div>
        </div>
    </div>
    </div>
</section>
<%- placeholder("sectionTwoTop") %>
<section class="sectionTwo" id="sectionTwo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               <%- placeholder("sectionTwoFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%- placeholder("sectionTwoContent") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionTwoRightHandColumn") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%- placeholder("sectionTwoThirdCol1") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionTwoThirdCol2") %>
            </div>
            <div class="col-md-4">
              <%- placeholder("sectionTwoThirdCol3") %>
            </div>
        </div>
    </div>
</section>
<%- placeholder("sectionThreeTop") %>
<section class="sectionThree" id="sectionThree">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <%- placeholder("sectionThreeFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%- placeholder("sectionThreeContent") %>
            </div>
            <div class="col-md-4">
           <%- placeholder("sectionThreeRightHandColumn") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%- placeholder("sectionThreeThirdCol1") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionThreeThirdCol2") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionThreeThirdCol3") %>
            </div>
        </div>
    </div>
</section>
<%- placeholder("sectionFourTop") %>
<section class="sectionFour" id="sectionFour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               <%- placeholder("sectionFourFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
             <%- placeholder("sectionFourContent") %>

            </div>
            <div class="col-md-4">
               <%- placeholder("sectionFourRightHandColumn") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <%- placeholder("sectionFourThirdCol1") %>
            </div>
            <div class="col-md-4">
                <%- placeholder("sectionFourThirdCol2") %>
            </div>
            <div class="col-md-4">
               <%- placeholder("sectionFourThirdCol3") %>
            </div>
        </div>
    </div>
</section>
<%- placeholder("sectionFiveTop") %>
<section class="sectionFive" id="sectionFive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <%- placeholder("sectionFiveFull") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
              <%- placeholder("sectionFiveContent") %>
            </div>
            <div class="col-md-4">
              <%- placeholder("sectionFiveRightHandColumn") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
             <%- placeholder("sectionFiveThirdCol1") %>
            </div>
            <div class="col-md-4">
              <%- placeholder("sectionFiveThirdCol2") %>
            </div>
            <div class="col-md-4">
            <%- placeholder("sectionFiveThirdCol3") %>
            </div>
        </div>
    </div>
</section>
<section>      
    <%- layout_editPanel %>
</section>
<%- layout_end_body %>