<%- before_html %>
<!DOCTYPE html >
<%- html_start_tag %>
    <head <%- head_attribute %>>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />  
        <!-- Base CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="<%= asset_path("lcc-template.css") %>"/>
        <!-- Google Fonts CSS -->
        <script src="/_catalogs/masterpage/subsites/js/modernizr.js"></script>
        <script src="/_catalogs/masterpage/js/respond.min.js"></script>
        <meta name="GENERATOR" content="Microsoft SharePoint" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="0" />
        <%- head_end %>
        </head>
    <body <%- body_attribute %>>
    <%- body_start %>
        <div id="s4-workspace">
            <div id="s4-bodyContainer">
                <!-- COOKIES -->
				<div id="containerSiteStatement">
                    <div id="siteStatement">
                        <div id="global-cookie-message" class="pageControl container noindex" style="display:none">
                            <p>Cookies - We use cookies to help improve your experience of using our website. For more information about the cookies we use see our <a href="/_catalogs/masterpage/subsites/PrivacyStatement.aspx">privacy page</a>. If you continue without changing your cookie settings we assume that you are happy with our use of cookies. You can change your cookie settings at any time by following the instructions on our <a href="/_catalogs/masterpage/subsites/PrivacyStatement.aspx">privacy page</a>  </p>
                            <a class="submit js-seen-cookie-message" href="">Don't show this message again</a>
                        </div>
                    </div>
            </div> 
                <!--masterhead section -->
                <section class="masterhead">
                    <div class="container-fluid">
                        <div class="">
                            <a class="navbar-brand" href="/">
                            </a>
                            <div class="pull-right">
                                <ul class="menu">
                                    <li>
                                        <a href="#" class="signin">
                                            <span>Sign in
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="myAccount" data-toggle="tooltip" data-placement="bottom" title="My Account">
                                            <span>Your account
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="nav-search" id="nav-search">
                                            <div class="">
                                                <div class="input-group">
                                                    <!--sharepoint search-->
                                                    <div data-name="search_box">
                                                          <%- search_box %>                                          
                                                    </div>
                                                    <!-- end sharepoint search -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="search" href="#">
                                            <span class="sr-only">Toggle website search
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="main-menu" href="#">
                                            <span class="sr-only">Toggle main menu
                                            </span>Menu</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/.masterHead section -->
                <!-- Header -->
                <div id="header">
                    <section class="sectionHeader">
                        <div class="container-fluid">
                            <div class="col-sm-6 col-xs-12 removeSidePadding header-left">
                                <a href="/_catalogs/masterpage/subsites/index.html" class="logo img-responsive">
                                    <span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-12 removeSidePadding header-right">
                            </div>
                        </div>
                    </section>
                    <!-- main nav -->
                    <nav id="main-menu" class="main-nav">
                        <div class="container-fluid">
                            <!-- sharepoint nav -->
                            <div data-name="main_nav">
                            <%- main_nav %>
                            </div>
                            <!--/.sharepoint nav -->
                        </div>
                        <!-- /.container -->
                    </nav>
                    <!-- /.main-menu -->
                </div>
                <!-- /.header -->
                <!-- MAIN CONTENT -->
                <div data-name="bodycontent">
                  <%- body_content %>
                </div>
                <!-- /MAIN CONTENT -->
                <!-- footer -->
                <footer class="main">
                    <section>
                        <div class="container-fluid">
                            <div class="col-lg-12">
                                <!-- main nav -->
                                <nav class="footer">
                                    <!-- sharepoint nav -->
                                    <div data-name="footer_main_nav">
                                       <%- footer_nav %>
                                    </div>
                                    <!--/.sharepoint nav -->
                                    <!-- /.container -->
                                </nav>
                            </div>
                        </div>
                    </section>
                    <section class="footerGlobal">
                        <div class="container-fluid">
                            <div class="col-lg-12">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="#">Accessibility
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Privacy Statement
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Terms and Conditions
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Site Map
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-sm-6 logo-footer">
                                <span>
                                </span>
                                <p>Official local authority website for Leeds providing information on local services.
                                </p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="socialBookmarks">
                                    <ul>
                                        <li>
                                            <h2>Connect with us:
                                            </h2>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/Leedscouncil/" class="facebook" target="_blank">
                                                <span>Facebook
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/leedscc_help" class="twitter" target="_blank">
                                                <span>Twitter
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/user/Leedscouncil" class="youtube" target="_blank">
                                                <span>You tube
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clear">
                                        <!-- -->
                                    </div>
                                </div>
                                <p>Copyright © Leeds City Council 2016</p>
                            </div>
                        </div>
                        <!-- /.row -->
                    </section>
                </footer>
                <!-- BACK TO TOP -->
                <a href="#0" class="cd-top">Top</a>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
                <script src="<%= asset_path("lcc-template.js") %>"></script>
            </div>
        </div>
        <%- body_end %>
   </body>
<%- html_end_tag %>